/* ===== GLOBAL MOBILE FIX ===== */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.reveal {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition:
    opacity 0.9s ease,
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform, opacity;
}

.reveal.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.reveal {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}

.reveal.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
html {
  scroll-behavior: smooth;
}

/* SLIDE BASE */
.slide {
  opacity: 0;
  transform: translateY(50px);
}

/* ACTIVE = SHOW */
.slide.active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}
.section {
  min-height: 100vh;          /* full screen */
  padding: 100px 8% 80px;     /* upar niche zyada space */
}
#skills,
#contact {
  min-height: 95vh;
}
